{
  "Parameters": {
    "NOMBRE_TABLA": "MisionEmprende-local",
    "CLAVE_TOKEN": "clave-local-de-pruebas-con-mas-de-32-caracteres",
    "CLAVE_ACCESO_PROFESOR": "profe123",
    "DURACION_TOKEN_SEGUNDOS": "43200",
    "ORIGEN_CORS": "*",
    "DYNAMODB_ENDPOINT": "http://dynamodb-local:8000"
  }
}
